.jp-masthead {
	@media (max-width: rem( 720px ) ) {
		padding: 0 rem( 24px );
	}
}

.jp-masthead__inside-container {
	box-sizing: border-box;
	background-size: 648px 125px;
	padding: rem( 24px ) 0;
	margin: 0 auto;
	width: 100%;
	max-width: rem( 720px );
	display: flex;
	flex-flow: row wrap;

	@include breakpoint( "<480px" ) {
		padding: rem( 16px ) 0;
	}
}

.jp-masthead__logo-container {
	flex-grow: 1;
	padding: rem( 5px ) 0 0;
}

.jp-masthead__logo {
	width: rem( 185px );
	height: rem( 32px ); // for IE
	path {
		fill: $green_primary;
	}
}

.jp-masthead .dops-button-group {
	align-self: center;
	margin: 0;

	@include breakpoint( "<480px" ) {
		padding-right: rem( 10px );
		display: flex;
		width: 100%;
		margin-top: rem( 16px );
		margin-bottom: rem( 8px );

		.dops-button {
			flex: 1;
		}
	}
}
